html, body {
    background-color: #ffffff; /* 뉴모피즘 스타일 배경색 */
    width: 500px; /* 팝업 창의 가로 크기 조절 */
    height: auto; /* 팝업 창의 세로 크기 조절 */
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
  }

.center-text {
text-align: center;
}

.rectangle-container {
    background-color: #F2F2F2;
    border-radius: 10px; /* 모서리를 둥글게 만들기 위한 값 */
    padding: 20px; /* 내부 여백 설정 */
    width: 430px; /* 적절한 너비 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 auto 마진 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
    line-height: 1.5; /* 줄간 간격을 설정 (기본값은 1.2) */
}
.divider {
    border: 0.826px solid #00000074; /* 검은색 선 */
    margin-top: 20px; /* 구분선과 텍스트 사이의 간격 조절 */
    margin: 0 auto; /* 가운데 정렬을 위한 auto 마진 설정 */
    width: 70%; /* 가로폭 100% */
  }


  .read-button {
    background-color: #f0f0f0; /* 버튼 색상 */
    padding: 5px 8px; /* 내부 여백을 조절하여 크기를 줄임 */
    border: none;
    border-radius: 7px; /* 둥근 원으로 만들기 위한 값 */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* 배경색 및 텍스트 색상의 변화에 부드러운 전환 효과 추가 */
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 12px; /* 텍스트 크기 조절 */
    color: #6e6e6e; /* 텍스트 색상 */
  }

  .read-button:hover {
    background-color: rgb(246, 154, 154); /* 호버 시 버튼 색상 변경 */
    color: #ffffff; /* 호버 시 텍스트 색상 변경 */
  }

  .list-container {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-container li {
    margin-bottom: 10px; /* 각 li 요소 사이의 간격 조절 */
  }